body{
    block-size: 4225.09px;
    box-sizing: border-box;
    height: 4225.09px;
    inline-size: 857px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    perspective-origin: 428.5px 2112.55px;
    transform-origin: 428.5px 2112.55px;
    width: 857px;
    font: 16px / 24px Optimist, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
}


/* Navbar section  */

.DIV_0{
    display: inline-flex;
}
.DIV_1{
    
}
.DIV_1{
    
}